@font-face{
  font-family: Nunito;
  src: url('../Fonts/Nunito/Nunito-ExtraBold.ttf');
}

#Modal_Background{
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: rgba(255,255,255,0.5);
  -webkit-backdrop-filter: blur(10px);
  z-index: 6;
}

#Winner_Banner{
  display: table;
  overflow: hidden;
  position: absolute;
  width: min(60vw,600px);
  background-color: rgba(255,255,255,0.65); 
  border-radius: 2.5vw;
  z-index: 7;
  margin-top: 10vh;
  left: calc(50% - min(30vw,300px));
  box-shadow: inset 1px 1px 0px 0px rgba(255,255,255,0.7), 15px 15px 20px 0px rgba(0,0,0,0.25);
}

#Winner_Text{
  display: table-cell;
  vertical-align: middle; 
  text-align: center;
  font-size: 4vw;
  color: rgba(150,150,150,0.95);
  font-family: sans-serif;
  font-weight: bold;
  font-family: Nunito;
}
  
#Play_Again_Button{
  display: table-cell; */
  vertical-align: middle; 
  border: none;
  background-color: white;
  width: 50%;
  height: min(20vh,60px);
  margin-bottom: 5%;
  border-radius: min(50vw,500px);
  font-family: Nunito;
}

th{
  /* border: 2px solid black; */
}

